.projects .InnerBox{
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    transition: 0.5s;
}


.projects .InnerBox:hover{
    background: #F1F1F1;
}




.projects .InnerBox ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.projects .InnerBox h4{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0 0;
    font-family: "Roboto";
}

.projects .InnerBox p{
    font-family: "Roboto";
    padding: 10px 0;
    font-size: 14px;
}


.viewProjectBtn a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: #000;

}

