*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #fafafa;
}
header{
    padding: 15px  0;
}


body.dark-mode{
    background-color: #141A1F;
}

body.dark-mode  h1{
    color: #fffffa !important;
}


body.dark-mode  p{
    color: #F5F5F5 !important;
}